body { 
    background-color: rgb(211, 222, 241);
}
 h1{
   display: flex;
   justify-content: center;
   height: 80px;
   align-items: center;
   border: 3px solid black;
   font-family: 'Langar', cursive;
   background: linear-gradient(50deg, red, blue );
   border-radius: 20px;  
   color: #ffe5e5; 
 }