body { 
    background-color: rgb(211, 222, 241);
}
 h1{
   display: flex;
   justify-content: center;
   height: 80px;
   align-items: center;
   text-transform: uppercase;
   font-family: 'Langar', cursive;
   background: white;  
   color: #c0c0c0; 
 }